.content {
  background-color: #fff;
  padding: 25px;
}

.price {
  font-weight: bold;
}

.link {
  color: inherit;
  text-decoration: none;
  display: block;
  background: white;

  border: 1px solid #ddd;
}
