.header {
  grid-area: header;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;

  h1 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 1024px) {
  .header {
    h1 {
      font-size: 20px;
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}
.main {
  grid-area: content;
  width: 500px;
  text-align: center;
  padding: 25px;

  .productCarousel img {
    margin-left: auto;
    margin-right: auto;
  }
}
.aside {
  grid-area: aside;
  border-left: 1px solid #ddd;
  padding: 25px 50px;
  h2 {
    font-size: 36px;
    font-weight: 400;
    text-align: left;
  }
  p {
    text-align: left;
  }
}
.info {
  grid-area: info;
  padding: 25px 25px 25px 50px;

  .fullInfo {
    height: 60px;
    overflow-y: hidden;
  }

  h3 {
    font-size: 26px;
    font-weight: lighter;
    padding-top: 15px;
    padding-bottom: 0px;
    text-transform: none;
  }
  h6 {
    font-size: 18px;
    font-weight: lighter;
  }
  ul {
    list-style: none;
    padding: 0 25px 0 0;
  }
  li {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100%;
    .col {
      text-align: left;
      &:last-child {
        text-align: right;
      }
    }
  }
}

.gridContainer {
  display: grid;
  grid-template-areas:
    'header header'
    'main  aside'
    'info  aside';
  gap: 1px;
  background-color: #fff;
  padding: 0;
  border-width: 0 1px;
  border-style: solid;
  border-color: #ddd;
}

@media screen and (max-width: 1024px) {
  .gridContainer {
    grid-template-areas:
      'header'
      'main'
      'aside '
      'info';
  }
}
.readMore {
  display: block;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  font-size: 24px;
  padding: 15px;
  text-align: left;
  margin: 15px 0;
  position: relative;
}
.btnLink {
  background: none;
  border: none;
  display: inline-block;
}
.btnLink::before {
  border-style: solid;
  border-width: 1px 1px 0 0;
  content: '';
  display: inline-block;
  height: 24px;
  left: 2.75em;
  position: absolute;
  top: 2em;
  transform: rotate(-136deg);
  vertical-align: top;
  width: 24px;
}
.hidden {
  display: block;
  width: 0;
  height: 0;
  overflow-y: hidden;
}

.rightChevron:before,
.rightChevronDown:before {
  border-style: solid;
  border-width: 1px 1px 0 0;
  content: '';
  display: inline-block;
  height: 24px;
  right: 0.15em;
  position: absolute;
  top: 0.15em;
  //transform: rotate(45deg);
  vertical-align: top;
  width: 24px;
}

.rightChevron::before {
  transform: rotate(45deg);
}
.rightChevronDown::before {
  top: 0;
  transform: rotate(135deg);
}
