.content {
  display: grid;
  background-color: #dddddd;
  color: black;
  padding: 1px;
  font-weight: 200;
  letter-spacing: normal;
  line-height: 20px;
  font-family: GillSansforJL, Gill Sans, Gill Sans MT, Arial, Helvetica,
    sans-serif;
}

@media screen and (min-width: 768px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
  }
}

//.link {
//  color: inherit;
//  text-decoration: none;
//  display: block;
//  background: white;
//  border-bottom: 1px solid #dddddd;
//  border-right: 1px solid #dddddd;
//}

.content {
  background-color: #fff;
  padding: 0;
}

.price {
  font-weight: bold;
}
